*{
    margin: 0;
    padding: 0;
}

.container{
    margin: 0 auto;
    max-width: 1150px;
}

ul{
    list-style: none;
}

li{
    display: inline-block;
}

.info-color{
    color: rgb(67, 160, 71);
}

.modify-color{
    color: #039be5;
}

.delete-color{
    color: #f44336;
}

.my-activity-column{
    width: 130px;
}

.my-menu{
    border: 1px solid gray;
    border-radius: 5px;
    color: gray;
}

.my-menu a{
    color: dimgray;
}

.productInfoImage{
    width: 100%;
    height: 15vw;
    object-fit: cover
}
